<script type='text/template' id='user'>
    <div class='form-group'>
        <form role='form' id='userForm'>
 
            <div class='form-group' >
                <label for='firstName'>Nombres</label>
                <input type='text' class='form-control' id='firstName' name='firstName' placeholder='Enter value' value='<%= user.get('firstName') %>'/>	
            </div>
 
            <div class='form-group' >
                <label for='lastName'>Apellidos</label>
                <input type='text' class='form-control' id='lastName' name='lastName' placeholder='Enter value' value='<%= user.get('lastName') %>'/>	
            </div>


            <div class='form-group' >
                <label for='date'>Fecha de nacimiento</label>
               </div>

            <div class="input-append date" id="dp3" data-date="05-08-2014" data-date-format="dd-mm-yyyy">
                <input class="span2" size="16" type="text" value="05-08-2014" id='date' name='date' placeholder='Enter value' value='<%= user.get('date') %>'/>
                <span class="add-on"><i class="icon-th"></i></span>
               </div>

            
            <a onclick="Backbone.trigger('user-save'); return false" >Guardar</a> |
            <a onclick="Backbone.trigger('user-cancel'); return false" >Cancelar</a> |
        </form>
    </div>
</script>